<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="offibook_v0.Properties.Settings.offibook_v0ConnectionString"
            connectionString="server=localhost;user id=root;database=offibook_v0;password=root"
            providerName="MySql.Data.MySqlClient" />
        <add name="offibook_v0.Properties.Settings.offibook_v0ConnectionString1"
            connectionString="server=localhost;user id=root;password=root;database=offibook_v0"
            providerName="MySql.Data.MySqlClient" />
        <add name="offibook_v0.Properties.Settings.offibook_v0ConnectionString2"
            connectionString="server=localhost;user id=root;password=root;persistsecurityinfo=False;database=offibook_v0"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>